body {
  background-color: #eee;

  font-family: "IM Fell DW Pica", serif;
  font-weight: 400;
  font-style: normal;
  /*font-style: italic;*/
}

canvas {
  /*
  // We must not have any background colour, otherwise the layered secondary canvas would cover the main.
  background-color: rgb(16, 124, 132);
  */
  border: 1px solid rgb(0, 0, 0);
}

canvas:first-child {
  background-color: rgb(84 108 110);
}

#main-canvas, #secondary-canvas {
  position: absolute;
  left: 0;
  top: 0;
}

#debug-container {
  position: absolute;
  top: 510px;
}

#header {
  position: absolute;
  margin: 5px;
  width: 960px; /* TODO: make width-agnostic or follow WIDTH */
}

#header #inventory .slot {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 6px;
  outline: 1px solid #361B2D;
}

#header #inventory .slot.filled {
  background-color: #361B2D;
}

#header #score {
  position: absolute;
  right: 16px;
  top: 4px;
}

#merchant-screen {
  position: absolute;
  top: 250px;
  left: 150px;
  width: 500px;
  background: gray;

  user-select: none;
}

#merchant-screen #upgrades-list {
  padding-top: 20px;
}

#merchant-screen #upgrades-list .upgrade {
  line-height: 28px;
  padding: 5px;
  display: flex;
}
#merchant-screen #upgrades-list .upgrade:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}

#merchant-screen #upgrades-list .upgrade .price {
  margin-left: auto;
  padding-right: 6px;
}

#merchant-screen #upgrades-list .upgrade .button {
  padding: 4px 15px;
  margin-top: -4px;
}
#merchant-screen #upgrades-list .upgrade .button:hover {
  cursor: pointer;
  background-color: rgba(1, 1, 1, 0.3);
}

#merchant-screen #upgrades-list .upgrade .price {
  right: 50px;
}
